{
  "extends": "semistandard",
  "env": { "es6": true },
  "plugins": ["import"],
  "globals": {
    "chrome": false,
    "document": false
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "space-before-function-paren": ["error", "never"]
  }
}